@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');


/* .menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  } */

.App{
  font-family: 'Poppins', sans-serif;
}
